.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.menubtn {
  background-color: white;
  border-color: white;
  color: #282c34;
}

.allbtn {
  background-color: #33C9EC;
  border-color: whitesmoke;
}

.custom-alert {
  padding: 5px;
}

.actionbtn {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}